---
const title = "A Formalization of Higher-Order Categories in Lean 4";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <p>Website under construction.</p>
  </body>
</html>
